* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-size: clamp(1rem, 1.5vw, 2rem);
    height: 100vh;
}

#map {
    width: 100%;
    height: 100%;
}

.load {
    background: #1A1B20;
    color: #fff;
    position: absolute;
    z-index: 105;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;

    &.view {
        display: block;
    }

    .logo {
        width: 7em;
        height: 7em;
        background: url('/Wersdown_white.svg');
        background-size: cover;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        animation-name: story_logo;
        animation-timing-function: ease;
        animation-duration: 2s;
        animation-fill-mode: forwards;    
    }

    .text {
        font-weight: 700;
        font-style: italic;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        opacity: 0;
        margin-left: 1em;

        animation-name: story_text_in;
        animation-timing-function: ease;
        animation-delay: 2s;
        animation-duration: .2s;
        animation-fill-mode: forwards;    
    }

    .button {
        position: absolute;
        bottom: 2em;
        left: 2em;

        opacity: 0;
        margin-left: 1em;

        animation-name: story_text_in;
        animation-timing-function: ease;
        animation-delay: 3s;
        animation-duration: .2s;
        animation-fill-mode: forwards;    
    }

    &.done {
        .text {
            margin-left: 0;
            opacity: 1;    

            animation-name: story_text_out;
            animation-timing-function: ease;
            animation-duration: .2s;
            animation-fill-mode: forwards;    
        }

        .button {
            margin-left: 0;
            opacity: 1;    

            animation-name: story_text_out;
            animation-timing-function: ease;
            animation-delay: 1s;
            animation-duration: .2s;
            animation-fill-mode: forwards;                
        }

        animation-name: uibg_open;
        animation-timing-function: ease;
        animation-direction: reverse;
        animation-delay: 2s;
        animation-duration: .2s;
        animation-fill-mode: forwards;                

    }
}

.ui-group {
    position: absolute;
    z-index: 101;
    background-color: #000000AF;
    background-image: url('/noise.png');
    backdrop-filter: blur(15px);
    color: #fff;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    overflow: auto;
    color-scheme: dark;

    animation-name: uibg_open;
    animation-timing-function: ease;
    animation-duration: .2s;
    animation-fill-mode: forwards;

    &.close {
        animation-name: uibg_open;
        animation-timing-function: ease;
        animation-duration: .2s;
        animation-direction: reverse;
        animation-fill-mode: forwards;

        .ui {
            animation-name: ui_open;
            animation-timing-function: ease;
            animation-duration: .2s;
            animation-direction: reverse;
            animation-fill-mode: forwards;    
        }
    }

    .ui {
        width: 70%;
        background-color: #00000080;
        background-image: url('/noise.png');
        padding: 2em;
        padding-top: 3.5em;
        border-radius: 1em;
        margin: 2em 0;
        position: relative;

        animation-name: ui_open;
        animation-timing-function: ease;
        animation-duration: .2s;
        animation-fill-mode: forwards;    

        .head {
            .title {
                font-weight: 900;
                position: absolute;
                left: 1.5em;
                top: 1.5em;                
            }

            .close {
                position: absolute;
                right: 1.5em;
                top: 1.5em;
                width: 1.2em;
                height: 1.2em;
                cursor: pointer;

                &:hover svg path {
                    stroke: #FF5151;
                }
            }    
        }

        .line {
            margin: 1em auto;
            background: #747474;
            width: 80%;
            position: relative;
            height: 1px;
        }

        h1 {
            margin-bottom: .3em;

            display: flex;
            align-items: center;

            svg {
                width: 1em;
                height: 1em;
                margin-right: .4em;
            }
        }

        .button-group {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            .button {
                margin: .4em;
            }
        }
    }
}

.overlay {
    .logo {
        position: absolute;
        z-index: 100;
        top: 1em;
        left: 50%;
        transform: translateX(-50%);

        width: 4em;
        height: 4em;
        background: url('/Wersdown.svg');
        background-size: cover;
    }

    .menu-group {
        position: absolute;
        bottom: 1em;
        left: 50%;
        transform: translateX(-50%);
        z-index: 100;
        display: flex;
        align-items: center;
    }

    .select {
        /* display: flex; */

        position: relative;
        cursor: pointer;

        font-size: .9em;

        .head {
            position: relative;
            padding: .7em 1.2em;
            border-radius: 1em;
            background-color: #000000AF;
            background-image: url('/noise.png');
            backdrop-filter: blur(15px);
            color: #fff;
            width: fit-content;

            transition: .2s ease;

            .content {
                display: flex;
                align-items: center;

                transition: .1s ease;
            }

            &.click .content {
                transform: scale(0.95);
            }

            &:hover {
                background-color: #121212AF;
            }

            .arrow-down {
                padding: .2em;
                width: .1em;
                height: .1em;
                border: .1em solid #fff;
                border-width: .125em .125em 0 0;
                transform: rotate(-45deg) translateY(30%);

                margin-left: 1em;
            }

        }
        .body {
            position: absolute;
            display: flex;
            flex-direction: column;
            background-color: #000000AF;
            background-image: url('/noise.png');
            backdrop-filter: blur(15px);
            color: #fff;
            padding: 1em 0;
            bottom: 0;
            border-radius: 1em;
            width: max-content;
            margin-bottom: 0em;
            transform: translateX(-50%);
            left: 50%;
            cursor: default;

            opacity: 0;

            &.open {
                animation-name: jumpin;
                animation-timing-function: ease;
                animation-duration: .2s;
                animation-fill-mode: forwards;    
            }


            .select-item {
                padding: .4em 2.2em;
                transition: .2s ease;
                cursor: pointer;

                display: flex;
    
                transition: .1s ease;
    
                &.click {
                    transform: scale(0.95);
                }

                &.focus {
                    background: #FFFFFF15;
                }

                .icon {
                    margin-right: .4em;

                    svg {
                        width: 1.2em;
                        height: 1.2em;
                    }
                }

                &:hover {
                    background: #FFFFFF25;
                }
            }
        }
    }
}

.button {
    font-size: .9em;

    cursor: pointer;
    position: relative;
    padding: .7em 1.2em;
    border-radius: 1em;
    background-color: #000000AF;
    background-image: url('/noise.png');
    backdrop-filter: blur(15px);
    color: #fff;
    width: fit-content;

    transition: .2s ease;

    .content {
        display: flex;
        align-items: center;

        transition: .1s ease;
    }

    .icon {
        display: flex;
        margin-right: .4em;

        svg {
            width: 1.6em;
            height: 1.6em;
        }
    }

    &:hover {
        background-color: #121212AF;
    }

    &.click .content {
        transform: scale(0.95);
    }

    &.icon {
        padding: .7em;
        
        .icon {
            margin: 0;
        }
    }
}

@keyframes jumpin {
    from {
        margin-bottom: 3em;
        opacity: 0;
    }
    to {
        margin-bottom: 4em;
        opacity: 1;
    }
}

@keyframes uibg_open {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes ui_open {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes story_logo {
    0% {
        margin-left: 1em;
        opacity: 0;
    }
    10% {
        margin-left: 0;
        opacity: 1;
    }
    90% {
        margin-left: 0;
        opacity: 1;        
    }
    100% {
        margin-left: -1em;
        opacity: 0;
    }
}

@keyframes story_text_in {
    from {
        margin-left: 1em;
        opacity: 0;
    }
    to {
        margin-left: 0;
        opacity: 1;
    }
}

@keyframes story_text_out {
    from {
        margin-left: 0;
        opacity: 1;
    }
    to {
        margin-left: -1em;
        opacity: 0;
    }
}

@media screen and (max-width: 500px) {
    .ui-group .ui {
        width: 80%;
    }
}